# dependencies
/node_modules

# Next.js
/.next/
/out/

# build
/build

# env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# database
/data/
*.db
*.db-shm
*.db-wal

# debug
npm-debug.log*

# OS
.DS_Store
